<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UcoDgt"
        tools:targetApi="31">
        <activity
            android:theme="@style/splash"
            android:name="mvc.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mvc.controller.CheckLogIn"/>
        <activity android:name="mvc.controller.admin.CheckUserToAdd"/>
        <activity android:name="mvc.controller.admin.CheckUserToFind"/>
        <activity android:name="mvc.controller.admin.CheckUserToDelete"/>
        <activity android:name="mvc.controller.admin.CheckUsersToList"/>
        <activity android:name="mvc.view.admin.DeleteUserActivity"/>
        <activity android:name="mvc.view.admin.ShowUser"/>
        <activity android:name="mvc.view.admin.AdminActivity"/>
        <activity android:name="mvc.view.admin.AddUserActivity"/>
        <activity android:name="mvc.view.admin.FindUserActivity"/>
        <activity android:name="mvc.view.admin.ShowUsers" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>