<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UcoDgt"
        tools:targetApi="31">
        <activity
            android:theme="@style/splash"
            android:name="com.uco.ucodgt.mvc.view.MainActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.uco.ucodgt.mvc.controller.CheckLogIn"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckUserToAdd"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckUserToFind"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckUserToDelete"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckUsersToList"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckImage"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckVehicleToDelete"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.DeleteUserActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.ShowUser"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.AdminActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.AddUserActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.FindUserActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.ShowUsers"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.GetVehiclePlate"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.DeleteVehicleActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.AddVehicleActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckVehicleToAdd"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckVehiclesToList"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.ShowVehicles"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.ShowVehicle"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.IntroduceManual"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckVehicleToFind"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.FindPenaltyActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.penalty.CheckPenaltiesToList"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.ShowPenalties"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.penalty.CheckPenaltyToFind"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.ShowPenalty"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.penalty.CheckPenaltyToDelete"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.IntroducePenaltyForSearch"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.SearchByDatesPenalties"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.AddPenaltyActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.IntroduceDescriptionForPenalty"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.penalty.CheckPenaltyToAdd"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.DeletePenaltyActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.ClientActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.penalty.CheckPenaltiesToListForClient"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.penalty.CheckPenaltyToFindForClient"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.vehicle.CheckVehiclesToListForClient"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.vehicle.CheckVehicleToFindForClient"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.penalty.SearchByDatesPenalties"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.penalty.ShowPenalties"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.penalty.ShowPenalty"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.vehicle.ShowVehicle"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.vehicle.ShowVehicles"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.penalty.CheckPenaltyToPay"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.penalty.IntroduceDataForPay"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.penalty.IntroducePenaltyToFind"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.user.ShowUser"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.user.CheckUserToFindForClient"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.user.CheckClientPoints"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.IntroducePoints"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckPointsToUpdate"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.WorkerActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.penalty.IntroduceDescriptionForPenalty"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.penalty.CheckPenaltyToAddForWorker"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckUserToSee"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.vehicle.CheckImageForWorker"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.penalty.CheckPenaltiesToListForWorker"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.penalty.CheckPenaltyToFindForWorker"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckUserToFindForWorker"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.vehicle.CheckVehicleToFindForWorker"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckWorkerInfo"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.ShowWorker"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.vehicle.ShowVehicle"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.vehicle.IntroduceManual"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.vehicle.GetVehiclePlate"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.ShowUser"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.FindUserActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.penalty.ShowPenalty"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.penalty.ShowPenalties"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.penalty.AddPenaltyActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.penalty.CheckPenaltyToCancel"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckExtendItv"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.user.IntroduceNewData"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.user.CheckDataForUpdate"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.user.IntroduceActualPassword"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.user.CheckClientPassword"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckWorkerPassword"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.IntroduceActualPassword"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.IntroduceNewData"
            android:screenOrientation="landscape"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckDataForUpdate"
            android:screenOrientation="landscape"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>