<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UcoDgt"
        tools:targetApi="31">
        <activity
            android:theme="@style/splash"
            android:name="com.uco.ucodgt.mvc.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.uco.ucodgt.mvc.controller.CheckLogIn"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckUserToAdd"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckUserToFind"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckUserToDelete"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckUsersToList"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckImage"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckVehicleToDelete"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.DeleteUserActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.ShowUser"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.AdminActivity" />
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.AddUserActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.FindUserActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.user.ShowUsers"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.GetVehiclePlate"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.DeleteVehicleActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.AddVehicleActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckVehicleToAdd"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckVehiclesToList"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.ShowVehicles"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.ShowVehicle"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.vehicle.IntroduceManual"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckVehicleToFind"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.FindPenaltyActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.penalty.CheckPenaltiesToList"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.ShowPenalties"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.penalty.CheckPenaltyToFind"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.ShowPenalty"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.penalty.CheckPenaltyToDelete"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.IntroducePenaltyForSearch"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.SearchByDatesPenalties"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.AddPenaltyActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.IntroduceDescriptionForPenalty"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.penalty.CheckPenaltyToAdd"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.DeletePenaltyActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.ClientActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.penalty.CheckPenaltiesToListForClient"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.penalty.CheckPenaltyToFindForClient"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.vehicle.CheckVehiclesToListForClient"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.vehicle.CheckVehicleToFindForClient"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.penalty.SearchByDatesPenalties"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.penalty.ShowPenalties"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.penalty.ShowPenalty"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.vehicle.ShowVehicle"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.vehicle.ShowVehicles"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.penalty.CheckPenaltyToPay"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.penalty.IntroducePenaltyToFind"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.user.ShowUser"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.user.CheckUserToFindForClient"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.user.CheckClientPoints"/>
        <activity android:name="com.uco.ucodgt.mvc.view.admin.penalty.IntroducePoints"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.users.CheckPointsToUpdate"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.WorkerActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.penalty.IntroduceDescriptionForPenalty"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.penalty.CheckPenaltyToAddForWorker"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckUserToSee"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.vehicle.CheckImageForWorker"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.penalty.CheckPenaltiesToListForWorker"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.penalty.CheckPenaltyToFindForWorker"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckUserToFindForWorker"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.vehicle.CheckVehicleToFindForWorker"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckWorkerInfo"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.ShowWorker"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.vehicle.ShowVehicle"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.vehicle.IntroduceManual"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.vehicle.GetVehiclePlate"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.ShowUser"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.FindUserActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.penalty.ShowPenalty"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.penalty.ShowPenalties"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.penalty.AddPenaltyActivity"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.penalty.CheckPenaltyToCancel"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.admin.vehicle.CheckExtendItv"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.user.IntroduceNewData"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.user.CheckDataForUpdate"/>
        <activity android:name="com.uco.ucodgt.mvc.view.client.user.IntroduceActualPassword"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.client.user.CheckClientPassword"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckWorkerPassword"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.IntroduceActualPassword"/>
        <activity android:name="com.uco.ucodgt.mvc.view.worker.user.IntroduceNewData"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.worker.user.CheckDataForUpdate"/>
        <activity android:name="com.uco.ucodgt.mvc.controller.CheckDniImage" />
        <activity android:name="com.uco.ucodgt.mvc.view.client.IntroduceRegisterData" />
        <activity android:name="com.uco.ucodgt.mvc.controller.client.user.CheckUserToAdd" />
        <activity android:name="com.uco.ucodgt.mvc.view.client.vehicle.AddVehicleActivity" />
        <activity android:name="com.uco.ucodgt.mvc.controller.client.vehicle.CheckVehicleToAdd" />

    </application>
</manifest>